USE [MariaCafe]
GO
/****** Object:  Table [dbo].[CafeInfo]    Script Date: 3/25/2019 1:01:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CafeInfo](
	[Id] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Tel] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[Schedule] [nvarchar](max) NULL,
 CONSTRAINT [PK_CafeInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cake]    Script Date: 3/25/2019 1:01:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cake](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[DetailDescription] [text] NULL,
	[DayCreated] [date] NULL,
	[PhotoPath] [nvarchar](50) NULL,
	[Price] [nvarchar](50) NULL,
	[ShortDescription] [nvarchar](1000) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CafeInfo] ([Id], [Address], [Tel], [Email], [PhotoPath], [Schedule]) VALUES (0, N'Copenhagen, Denmark', N'       123456', N'Email:  your-email@your-email.com', N'map/map.png', N'Monday: Closed<br><br>Tuesday-Friday: 10:00-20:00<br><br>Saturday-Sunday: 11:00-21:00<br><br>')
